.default-template {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;

  p {
    width: 100%;
    line-height: 120px;
    font-size: 2.0rem;
    font-weight: 200;
    text-align: center;
  }
}
